{% extends "base.html" %}
{% block head %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">HighLoad Social Network</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" action="/registration" method="POST">
                          <div class="form-group">
			    				<input type="email" name="username" id="username" class="form-control input-sm" placeholder="Email">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>
                            <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                            <input type="int" name="age" id="age" class="form-control input-sm" placeholder="Age">
			    					</div>
			    				</div>
			    			</div>

                            <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                            <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="country" id="country" class="form-control input-sm" placeholder="Country">
			    					</div>
			    				</div>
			    			</div>

							<div class="form-group">
								<h4>Interests</h4>
								<select name="interests" multiple>
									<option value ="swimming">Swimming</option>
									<option value ="running">Running</option>
									<option value ="movies">Movies</option>
									<option value ="reading">Reading</option>
								</select>
							</div>

			    			<input type="submit" value="Register" class="btn btn-info btn-block">

							<div id="formFooter">
                               <a class="underlineHover" href="/login">Already registered? Login</a>
                            </div>

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
      </div>
 {% endblock %}